@charset "UTF-8";

/* 共通部分 
-----------------------*/
html {
    font-size: 100%;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #000;
}

h1 {
    padding: 1% 0;
    font-size: 32px;
}
.index_job_title{
    padding: 3% 0;
    font-size: 32px;
}

h2 {
    padding: 1% 0;
    font-size: 25px;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5% 0;
}

.submit_button{
border: none;}

.wrapper {
    width: 80%;
    margin: 30px auto;
    border: 1px solid #dfdfdc;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

table,tr,td,th{
    border: solid 1px black; border-collapse: collapse;
    padding: 5px 20px;
}
td,th{
    min-width: 32px;
}
th{
    background: #fff;
}
.management_table {
margin: 0 auto;
display:flex;
justify-content: center;
border:none;
}

/* ヘッダー */
.header {
    background-color: #FF9900;
    color: #000;
    height: 100px;
}

.header_logo {
    float: left;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
    height: 50px;
    padding: 25px;
}

.header_list ul {
    display: webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100px;
    /* float: right;
    padding:30px 20px; */
}

.header_list li {
    margin: 20px 0px 20px 40px;
}

/* ログイン判定 */
.right_content {
    display: flex;
}
.login_info {
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.login_info p {
    margin-right: 10px;
    font-size: 20px;
    color: #ffffff;
}
.header_logout_button {
    align-items: center;
    text-decoration: none;
}
.header_login_button {
    display: flex;
    align-items: center;
    text-decoration: none;
}
/* index.php */
/* 検索フォーム */
.top_form {
    padding: 10px;
}

.top_forms {
    display: webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100px;
    padding: 20px;
}

.form_title {
    padding: 1px;
    margin: 2px;
}


.search_button {
    background-color: #FF9900;
    color: #000;
    border: none;
    display: block;
    margin: 20px auto 0 ;
    border-radius: 30px;
    padding: 15px 0;
    width: 48%;
    text-align:center;
}

.checkbox{
margin: 0 2px 0 10px;
}

/* 最新の求人 */
.sub_title {
    text-align: center;
}

.jobs {
    border: 1px solid #dee7ec;
    max-width: 700px;
    margin: 10px auto;
}

.jobs h2,
p {
    margin: 0;
}

.detail {
    max-width: 300px;
    margin: 30px auto;
    padding: 20px 0;
    background-color: #FF9900;
    color: #000;
    border: none;
    text-align: center;
    border-radius: 30px;
}

.detail_button {
    padding: 10px 50px;
    font-size: 20px;
}


/* フッター */
.footer {
    background-color: #FF9900;
    color: #000;
    height: 100px;
    margin-top: 200px;
}

.footer_logo {
    float: left;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
    height: 50px;
    padding: 25px;
}

.footer_list ul {
    display: webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100px;
}

.footer_list li {
    margin: 20px 0px 20px 40px;
}

/* about.php */
.about_container {
    margin: 20px 100px;
    text-align: left;
}

.about_sub_title {
    margin: 40px 0 10px;
}

/* contact.php */
.contact_container,
.login_container {
    text-align: center;
    margin: 10px auto;
}

.signup_container {
    text-align: left;
    margin: 10px 100px;
}

/* スパルタキャンプ作 */
.signup_label{
    display: block;
    margin: 10px 0px;
}

.errors li {
    margin-top: 5px;
    color: #ec008c;
    text-align: center;
    list-style: none;
}

/* index.php >>> search */
.search_content {
    background-color: #ff990040;
    border-radius: 10px;
    width: 85%;
    margin: 50px auto;
    padding: 25px;
}

/* management.php */
.management_content {
    background-color: #ff990040;
    border-radius: 10px;
    width: 85%;
    margin: 50px auto;
    padding: 25px 50px;
}

.logout_button {
    text-align: center;
    padding: 15px 0;
    width: 50%;
    background: #FF9900;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    margin: 20px auto 0;
    display: block
}

/* signup.php */
.signup_wrapper{
    width: 500px;
    margin: 30px auto 0;
    border-radius: 5px;
    padding:25px 50px;
}

.signup_content {
    background-color: #ff990040;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
    padding: 50px;
}
.signup_title {
    text-align: center;
}
.nom_li{
list-style-type: auto;
margin: 20px;
font-size: 20px;
}

.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
input[type="email"],
input[type="text"],
input[type="tel"] ,
input[type="password"] ,
input[type="number"] ,
select,
textarea{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
    appearance: auto;
}

input[type="radio"] , input[type="checkbox"]{
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   margin: 0 5px 0 10px;
   }

input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}
.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.login_button,
.signup_button {
    background: #FF9900;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}

.thanks_back_button{
    text-align: center;
    padding: 15px;
    width: 85%;
    background: #FF9900;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    }

.signup_button {
    text-align: center;
    padding: 15px 0;
    width: 56%;
    background: #FF9900;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
}

/* login.php */
.login_content {
    background-color: #ff990040;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
}
.login_title {
    text-align: center;
}
.login_button {
    border-radius: 30px;
    background: #FF9900;
    padding: 15px 0;
    width: 56%;
    color: #000;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}
.signup_page_button,
.login_page_button {
    border-radius: 30px;
    text-align: center;
    padding: 15px 0;
    width: 40%;
    background: #fff;
    color: #000;
    text-decoration: none;
}

/* contact.php */
.contact_button{
    text-align: center;
    padding: 15px 0;
    width: 85%;
    background: #FF9900;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 auto;
}

/* job_signup.php */
.job_signup_content{
    background-color: #ff990040;
    border-radius: 10px;
    width: 900px;
    margin: 30px auto;
    padding: 50px;
}
.asterisk{
    color:red;
    font-size:20px;
    font-weight: 700;
}

 /* レスポンシブ */
@media (max-width: 900px) {
    /* upload.php */
    .upload_content_label {
        height: 355px;
    }
    .upload_content_form {
        width: 70%;
    }
    /* show.php */
    .content {
        width: 70%;
    }
    /* .job_signup.php */
    .job_signup_content{
    width: 70%;
    }
}
@media (max-width: 600px) {
    /* upload.php */
    .upload_content_form {
        width: 90%;
    }
    /* index.php*/
    .article {
        padding-bottom: 10%;
    }
    /* show.php */
    .content {
        width: 90%;
    }
    /* signup.php */
    .signup_content {
        width: 70%;
    }
    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }
    .signup_button {
        width: 100%;
        padding: 10px;
    }
    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }
     /* login.php */
    .login_content {
        width: 70%;
    }
    .login_button {
        width: 100%;
        padding: 10px;
    }
    .signup_page_button {
        text-align: center;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }
    /* .job_signup.php */
    .job_signup_content{
    width: 90%;
    }
}
